<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container crud-app"> -->
<div class="crud-app">
	<toaster-container></toaster-container>
	<h2 style="text-align: center; margin-bottom: 4%;">
		{{title}}!
	</h2>
	<app-view-list> </app-view-list>
</div>