div.edit-item-container{
    margin-bottom: 20px;
}

div.modal-header{
    border-bottom: none;
    padding-left: 0;
}

div.action-btns button{
    width: 100px ;
}

.ng-valid[required].ng-touched, .ng-valid.required.ng-touched  {
    border-bottom: 2px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form).ng-touched  {
    border-bottom: 2px solid #a94442; /* red */
  }

small.required-field{
	color: red;
	font-size: 17px
}