div.add-new-item-container {
    /* margin-top: 45px; */
    box-shadow: 0px 5px 5px 0px #ccc;
}

form.add-new-item {
    padding: 25px;
}

div.action-btns button {
    width: 100%;
}

.ng-valid[required].ng-touched, .ng-valid.required.ng-touched {
    border-bottom: 2px solid #42A948;
    /* green */
}

.ng-invalid:not(form).ng-touched {
    border-bottom: 2px solid #a94442;
    /* red */
}

small.required-field {
    color: red;
    font-size: 17px
}

.form-group {
    padding-right: 0;
}

.edit-controls {
    padding: 0;
}

.form-group, .action-btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.col-form-label {
    grid-column: 1/2;
}

.edit-controls {
    grid-column: 2/4;
}

.submit-btn {
    grid-column: 2/3;
}

.reset-btn{
    grid-column: 3/4;
}