<!-- <div class="container card add-new-item-container">
	<div class="card-body">
		<h4 class="card-title">Add New List Item</h4>
		<form #addNewItemForm="ngForm" (ngSubmit)="onSubmit()" class="card add-new-item">
			<div class="form-group col-sm-12 row">
				<label for="title" class="col-sm-6 col-form-label">Title<small class="required-field">*</small></label>
				<div class="col-sm-6 edit-controls">
					<input #title="ngModel" type="text" class="form-control" [(ngModel)]="newList.title" name="title" required>
					<span [hidden]="title.valid || title.untouched" class="errorMsg">Name is required</span>
				</div>
				
			</div>
			<div class="form-group col-sm-12 row">
				<label for="category" class="col-sm-6 col-form-label">Select Category<small class="required-field">*</small></label>
				<div class="col-sm-6 edit-controls">
					<select class="form-control" [(ngModel)]="newList.category" name="category" required>
						<option value="High">High Priority</option>
						<option value="Medium">Medium Priority</option>
						<option value="Low">Low Priority</option>
					</select>
				</div>
			</div>
			<div class="form-group col-sm-12 row">
				<label for="description" class="col-sm-6 col-form-label">Description<small class="required-field">*</small></label>
				<div class="col-sm-6 edit-controls">
					<input #description="ngModel" type="text" class="form-control" [(ngModel)]="newList.description" name="description" required>
					<span [hidden]="description.valid || description.untouched" class="errorMsg">Description is required</span>
				</div>
			</div>
			<div class="col-sm-12 row action-btns">
				<div class="col-sm-2 offset-sm-2">
					<button type="submit" class="btn btn-default" [disabled]="!addNewItemForm.form.valid">Submit</button>
				</div>
				<div class="col-sm-2" style="margin-left:20%;">
					<button type="button" (click)="resetForm()" class="btn btn-default">Reset</button>
				</div>
			</div>
		</form>
	</div>
</div> -->



<!-- ************************** Implementing CSS Grid ********************************* -->

<div class="card add-new-item-container">
	<div class="card-body">
		<h4 class="card-title">Add New List Item</h4>
		<form #addNewItemForm="ngForm" (ngSubmit)="onSubmit()" class="card add-new-item">
			<div class="form-group">
				<label for="title" class="col-form-label">Title<small class="required-field">*</small></label>
				<div class="edit-controls">
					<input #title="ngModel" type="text" class="form-control" [(ngModel)]="newList.title" name="title" required>
					<span [hidden]="title.valid || title.untouched" class="errorMsg">Name is required</span>
				</div>
				
			</div>
			<div class="form-group ">
				<label for="category" class="col-form-label">Select Category<small class="required-field">*</small></label>
				<div class="edit-controls">
					<select class="form-control" [(ngModel)]="newList.category" name="category" required>
						<option value="High">High Priority</option>
						<option value="Medium">Medium Priority</option>
						<option value="Low">Low Priority</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="description" class="col-form-label">Description<small class="required-field">*</small></label>
				<div class="edit-controls">
					<input #description="ngModel" type="text" class="form-control" [(ngModel)]="newList.description" name="description" required>
					<span [hidden]="description.valid || description.untouched" class="errorMsg">Description is required</span>
				</div>
			</div>
			<div class="action-btns">
				<div class="submit-btn">
					<button type="submit" class="btn btn-default" [disabled]="!addNewItemForm.form.valid">Submit</button>
				</div>
				<div class="reset-btn" style="margin-left:20%;">
					<button type="button" (click)="resetForm()" class="btn btn-default">Reset</button>
				</div>
			</div>
		</form>
	</div>
</div>