div.list-heading {
    margin-bottom: 15px;
    box-shadow: 0px 5px 5px 0px #ccc;
}

div.no-records-found {
    padding: 10px 0;
}

div.no-records-found h4 {
    font-weight: normal;
}

table {
    text-align: center;
}

table button {
    width: 75px;
}

div.right-section {
    left: 35px;
}

 /*.table-responsive {
    max-height: 350px;
}*/

/* .table-body{
    max-height: 797px !important;
    overflow-y: auto !important;
} */

/* .table-fixed thead {
    width: 97%;
}

.table-fixed tbody {
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}

.table-fixed tbody td, .table-fixed thead>tr>th {
    float: left;
    border-bottom-width: 0;
} */

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
}

.left-section {
    grid-column: 1;
}

.right-section {
    grid-column: 2;
}

/* Small devices (landscape phones, 576px and up) */

/* @media (min-width: 576px) { ... } */

/*  Medium devices (tablets, 768px and up) */

/* @media (min-width: 768px) {

} */

/* Large devices (desktops, 992px and up) */

/* @media (min-width: 992px) { ... } */

/* Extra large devices (large desktops, 1200px and up) */

/* @media (min-width: 1200px) { ... } */

@media (max-width: 1024px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 100px;
    }
    .left-section {
        grid-column: 1;
    }
    .right-section {
        grid-column: 1;
    }
}

@media (min-width: 1024px) {
    .table-responsive {
        max-height: 350px;
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    table{
        @extend .table-responsive;
    }
}