<!-- <div class="col-sm-12 row" style="max-height: 729px;">
    <div class="col-sm-7 left-section">
        <div class="card list-heading">
            <div class="card-body">
                <h3> Bucketlist App </h3>
            </div>
        </div>

        <table id="table" class="table table-striped table-bordered table-responsive" *ngIf="lists.length > 0">
                <thead class="thead">
                    <tr>
                        <th>#</th>
                        <th>Priority Level</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th> Edit </th>
                        <th> Delete </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let list of lists; index as i">
                        <td>{{i+1}}</td>
                        <td>{{list.category}}</td>
                        <td>{{list.title}}</td>
                        <td>{{list.description}}</td>
                        <td>
                            <button type="button" class="btn btn-default" (click)="openModal(editFormTemplate, list, true, false);$event.stopPropagation();">Edit</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default" (click)="openModal(confirmDeleteTemplate, list, false, true); $event.stopPropagation();">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>       
        <div class="no-records-found" *ngIf="lists.length == 0">
            <h4>No records found</h4>
        </div>
    </div>

    <div class="col-sm-5 right-section">
        <app-add-list #addListComponent (addList)='onAddList($event)'></app-add-list>
    </div>
</div>

<ng-template #editFormTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Edit Form</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <app-edit-list [listItem]="listItemToEditorDelete" (editListItem)="onEditListItem($event)"></app-edit-list>
    
</ng-template>

<ng-template #confirmDeleteTemplate>
    <div class="modal-body text-center">
        <p>Do you want to confirm?</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
    </div>
</ng-template> -->




<!-- Implementing CSS Grid -->
<div class="wrapper">
    <div class="left-section">
        <div class="card list-heading">
            <div class="card-body">
                <h3> Bucketlist App </h3>
            </div>
        </div>

        <table id="table" class="table table-striped table-bordered" *ngIf="lists.length > 0">
                <thead class="thead">
                    <tr>
                        <th>#</th>
                        <th>Priority Level</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th> Edit </th>
                        <th> Delete </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let list of lists; index as i">
                        <td>{{i+1}}</td>
                        <td>{{list.category}}</td>
                        <td>{{list.title}}</td>
                        <td>{{list.description}}</td>
                        <td>
                            <button type="button" class="btn btn-default" (click)="openModal(editFormTemplate, list, true, false);$event.stopPropagation();">Edit</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default" (click)="openModal(confirmDeleteTemplate, list, false, true); $event.stopPropagation();">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>       
        <div class="no-records-found" *ngIf="lists.length == 0">
            <h4>No records found</h4>
        </div>
    </div>

    <div class="right-section">
        <app-add-list #addListComponent (addList)='onAddList($event)'></app-add-list>
    </div>
</div>

<ng-template #editFormTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Edit Form</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <app-edit-list [listItem]="listItemToEditorDelete" (editListItem)="onEditListItem($event)"></app-edit-list>
    
</ng-template>

<ng-template #confirmDeleteTemplate>
    <div class="modal-body text-center">
        <p>Do you want to confirm?</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
    </div>
</ng-template>


